name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Test and build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'
    - run: ./gradlew build --no-daemon
    - name: Upload build artifact
      uses: actions/upload-artifact@v3
      with:
        name: MiniPlaceholders-Expressions-Expansion
        path: build/Expressions-*.jar
